@import "variables";

.container {
  height: 56px;
}

.inner-container {
  border-bottom: 1px solid $main-border-color;
}

.caption {
  font-weight: bold;
  font-size: 18px;
}

.notifications-button {
  margin: 0 16px;
}

[nz-icon] {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}
