<erp-form [headerCaption]="item ? 'Редактировать позицию' : 'Добавить позицию'" [loading]="loading" [formGroup]="itemForm" (formSubmit)="onSubmit()">
  <erp-form-control label="Название">
    <input class="w-100" nz-input type="text" formControlName="name">
  </erp-form-control>
  <erp-form-control label="Цена">
    <nz-input-number
      class="w-100"
      formControlName="price"
      [nzMin]="0"
      [nzMax]="9999999"
      [nzPrecision]="2"
      [nzFormatter]="formatterRuble"
      [nzParser]="parserRuble"
      [nzPlaceHolder]="'Digital'"
    ></nz-input-number>
  </erp-form-control>
</erp-form>
