<div *ngIf="items?.length > 0; else empty">
  <nz-tree
    nzBlockNode
    [nzData]="treeNodes"
    (nzClick)="activeNode($event)"
    (nzDblClick)="openFolder($event)"
    [nzTreeTemplate]="nzTreeTemplate"
  ></nz-tree>
  <ng-template #nzTreeTemplate let-node let-origin="origin">
    <div
      (contextmenu)="contextMenu($event, menu)"
      class="tree-item"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <button
        nz-button
        nzType="dashed"
        nzSize="default"
        nzShape="circle"
        class="menu-button"
        nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
      >
        <i nz-icon nzType="more"></i>
      </button>
      <div
        *ngIf="!node.isLeaf"
        class="tree-folder"
      >
        <span class="tree-title">{{node.title}}</span>
      </div>
      <div
        *ngIf="node.isLeaf"
        class="w-100"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span class="tree-title">{{node.title}}</span>
        <span class="tree-sale">{{origin.sale}} ₽</span>
      </div>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="onAddItem(node)">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          Добавить позицию
        </li>
        <li nz-menu-item (click)="onAddSection(node)">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          Добавить раздел меню
        </li>
        <li nz-menu-item (click)="onEdit(node)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
          Редактировать
        </li>
        <li nz-menu-item (click)="onDelete(node)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
          Удалить
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>
</div>

<ng-template #empty>
  <div class="h-100" fxLayout="column" fxLayoutAlign="center center">
    <nz-empty nzNotFoundContent="Добавьте в новое меню разделы и позиции"></nz-empty>
  </div>
</ng-template>
