nz-tree {
  background-color: transparent;
}

.ant-tree-node-content-wrapper {
  flex: 1;
}

.tree-item {
  height: 48px;
  background: #FFFFFF;
  border-radius: 6px;
}

.tree-title {
  margin-left: 21px;
}

.tree-sale {
  margin-right: 21px;
}
