<div *ngIf="items?.length > 0; else empty">
  <nz-tree
    nzBlockNode
    [nzData]="treeNodes"
    (nzClick)="activeNode($event)"
    (nzDblClick)="openFolder($event)"
    [nzTreeTemplate]="nzTreeTemplate"
  ></nz-tree>
  <ng-template #nzTreeTemplate let-node let-origin="origin">
    <div class="tree-item" fxLayout="row" fxLayoutAlign="start center">
      <div class="tree-folder" *ngIf="!node.isLeaf">
        <span class="tree-title">{{node.title}}</span>
      </div>
      <div *ngIf="node.isLeaf" class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="tree-title">{{node.title}}</span>
        <span class="tree-sale">{{origin.sale}} ₽</span>
      </div>
    </div>
  </ng-template>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="selectDropdown()">Action 1</li>
      <li nz-menu-item (click)="selectDropdown()">Action 2</li>
    </ul>
  </nz-dropdown-menu>
</div>

<ng-template #empty>
  <div class="h-100" fxLayout="column" fxLayoutAlign="center center">
    <nz-empty nzNotFoundContent="Добавьте в новое меню разделы и позиции"></nz-empty>
  </div>
</ng-template>
